In [1]:
import csv
import pandas as pd
import re
import numpy as np
import urllib.parse
import requests

In [2]:
dfori = pd.read_csv('data/pangaea_mappings_original.csv', names =['unit','ucum'],header=0,delimiter=",",encoding='utf-8')

In [3]:
dfori.shape
dfori['source'] = 'pangaea'

In [4]:
dfori.head()

         unit    ucum   source
0           #       n  pangaea
1     (K2)m/W  m2.K/W  pangaea
2  (\\(eq\\))    {eq}  pangaea
3        (eq)    {eq}  pangaea
4          AD    {AD}  pangaea

In [5]:
dfori.shape

(174, 3)

In [6]:
dfext = pd.read_csv('data/concepts.tsv', sep='\t', header=0, encoding='utf-8')
dfext['source'] = 'fhir'
dfext.head(1)

,Code,Descriptive Name,Code System,Definition,Date Created,Synonym,Status,Kind of Quantity,Date Revised,ConceptID,Dimension,Unnamed: 11,source
0,%,Percent [Most Common Healthcare Units],PH_UnitsOfMeasure_UCUM_Expression,NaN,07/01/2004,%,Active,Most Common Healthcare Units,12/08/2005,Percent,1,NaN,fhir

In [7]:
dfext.shape

(343, 13)

In [8]:
dfext = dfext[['Synonym','Code','source']]

In [9]:
dfext.head()

            Synonym     Code source
0                 %        %   fhir
1               /uL      /uL   fhir
2              IU/L   [iU]/L   fhir
3  K/uL, x10^3/mm^3  10*3/uL   fhir
4  M/uL, x10^6/mm^3  10*6/uL   fhir

In [10]:
df = pd.concat([dfori,dfext.rename(columns={'Synonym':'unit', 'Code':'ucum', 'source':'source'})], ignore_index=True)
df.shape

(517, 3)

In [11]:
df[df.duplicated()]

        unit      ucum source
209        %         %   fhir
312       pg        pg   fhir
370       fL        fL   fhir
403  mmol/kg   mmol/kg   fhir
456    pg/mL     pg/mL   fhir
457    ng/mL     ng/mL   fhir
459    ug/mL     ug/mL   fhir
461     g/mL      g/mL   fhir
464    ug/dL     ug/dL   fhir
466    mg/dL     mg/dL   fhir
468     g/dL      g/dL   fhir
471     ug/L      ug/L   fhir
473      g/L       g/L   fhir
486   mmol/L    mmol/L   fhir
487   pmol/L    pmol/L   fhir
488   nmol/L    nmol/L   fhir
489   umol/L    umol/L   fhir
503   uIU/mL  u[iU]/mL   fhir
504   mIU/mL  m[iU]/mL   fhir
515     IU/L    [iU]/L   fhir

In [12]:
df.head(2)

      unit    ucum   source
0        #       n  pangaea
1  (K2)m/W  m2.K/W  pangaea

In [13]:
#another external file IsoToUcum
dfext2 = pd.read_excel('data/IsoToUcum.xlsx',encoding='utf-8')
dfext2['source']='hl7'
dfext2.head()

       ISO+      UCUM source
0   (arb_u)   [arb'U]    hl7
1  (bdsk_u)  [bdsk'U]    hl7
2     (bsa)     {bsa}    hl7
3     (cal)       cal    hl7
4     (cfu)     {cfu}    hl7

In [14]:
df_final = pd.concat([df,dfext2.rename(columns={'ISO+':'unit', 'UCUM':'ucum','source':'source'})], ignore_index=True)
df_final.shape

(613, 3)

In [15]:
df_final.head(2)

      unit    ucum   source
0        #       n  pangaea
1  (K2)m/W  m2.K/W  pangaea

In [16]:
df_final[df_final.duplicated()].shape

(20, 3)

In [17]:
df_final = df_final.drop_duplicates()
df_final.shape

(593, 3)

In [18]:
#remove all start with slash
df_final = df_final[~df_final['unit'].astype(str).str.startswith('/')]

In [19]:
#remove if both columns contains same value
df_final = df_final[df_final['unit'] != df_final['ucum']]
df_final.shape

(439, 3)

In [20]:
#one ucum can have many units, but not vice-versa!
df_final[df_final.duplicated(subset=['unit'])]

Empty DataFrame
Columns: [unit, ucum, source]
Index: []

In [21]:
df_final.head()

         unit    ucum   source
0           #       n  pangaea
1     (K2)m/W  m2.K/W  pangaea
2  (\\(eq\\))    {eq}  pangaea
3        (eq)    {eq}  pangaea
4          AD    {AD}  pangaea

In [22]:
df_final[df_final.unit=='sec']

    unit ucum source
334  sec    s   fhir

In [23]:
df_final = df_final.sort_values('unit', ascending=False)
df_final.head(10)

      unit                 ucum   source
173      Å                   Ao  pangaea
172  µtorr              u[Torr]  pangaea
171  µg-at          n{molecule}  pangaea
170      µ                    u  pangaea
169      ±  {StandardDeviation}  pangaea
168     °C                  Cel  pangaea
167      °                  deg  pangaea
342     yr                    a     fhir
166  years                    a  pangaea
165   year                    a  pangaea

In [24]:
df_final.shape

(439, 3)

In [25]:
from datetime import datetime
datestring = datetime.strftime(datetime.now(), '%Y%m%d')
f = 'data/pangaea_mappings_'+datestring+'.csv'
f

'data/pangaea_mappings_20181022.csv'

In [26]:
df_final.to_csv(f, index=False, header=False)

In [27]:
#external_units = list(set(dfext.Synonym.tolist()+dfext2['ISO+'].tolist()))
#len(external_units), dfori.unit.nunique()
#df_no = dfori[~dfori['unit'].isin(external_units)]
#df_no.to_csv('pangaea_mappings_ori.csv', index=False, header=False)

Test all ucum mappings

In [28]:
ucumlist = list(df_final.ucum.unique())
#validate formatted units through ucum service
HOST = 'http://localhost:8080'
UCUM_SERVICE_VALIDATE =HOST+'/pucum/v1/api/validate/'

In [29]:
ucumlist

['Ao',
 'u[Torr]',
 'n{molecule}',
 'u',
 '{StandardDeviation}',
 'Cel',
 'deg',
 'a',
 '[syd_i]',
 '[cyd_i]/min',
 '[cyd_i]',
 '[yd_i]',
 '10*8',
 '10*6/{Specimen}',
 '10*6',
 '10*5',
 '10*3.{RBC}',
 '10*3',
 'wk',
 '{v}',
 'm[Torr]',
 'umol/mol{Cre}',
 'umol/mg{Cre}',
 'umol/g{Hgb}',
 'umol/g{Cre}',
 'u[iU]',
 'ug/mg{Cre}',
 'ug/m2',
 'ug/h',
 'ug/g{Hgb}',
 'ug/g{DryWeight}',
 'ug/g{Cre}',
 'ug/dL{rbc}',
 'ug/{TotalVolume}',
 'ug/{Specimen}',
 'ug/(100.g)',
 'ug/(kg.h)',
 'ug/(8.h.kg)',
 'ueq/L',
 'u[iU]/mL',
 '[tsp_us]',
 '[oz_tr]',
 '[Torr]',
 't/[cyd_i]',
 't/[yd_i]',
 '[ston_av]/h',
 't',
 '10*-1',
 '[tbs_us]',
 '{tablet}',
 'S',
 's',
 "[arb'U]",
 'm{rmcd}',
 'REM',
 '[rd_us]',
 '{quanta}',
 '[qt_us]',
 '[pt_us]',
 '[psi]',
 '{protein}',
 '[pptr]{v}',
 '[pptr]',
 '[ppm]{v}',
 '[ppm]',
 '[ppb]{v}',
 '{polyp}',
 '[pk_us]',
 'n{pixel}',
 '[pt_br]',
 '{photons}',
 '[phi]',
 'Pa',
 'pA',
 '[pMC]',
 '[pH]',
 '[oz_av]',
 'osm/kg',
 'osm/L',
 'osm',
 'Ohm ',
 'Oe',
 '[octa]',
 'nmol/mmol{Cre}',
 'nmol/g{Cre}',
 '[nmi_i]/min',
 '[nmi_i]/h',
 'ng/mg{Protein}',
 'ng/m2',
 'ng/mL{rbc}',
 'ng/h',
 'ng/g{Cre}',
 'ng/(kg.h)',
 'ng/(8.h.kg)',
 'ng/(8.h)',
 '{n-alkanes}',
 '[nmi_i]',
 'mo',
 'mol/m3',
 'mmol/mol{Cre}',
 'mmol/m2',
 'mmol/h',
 'mmol/{TotalVolume}',
 'mmol/(kg.h)',
 'mmol/(8.h)',
 'mmol/(8.h.kg)',
 'mm2',
 'mm[Hg]',
 'mm/h',
 'm[iU]/mL',
 'mH',
 '[mi_us]',
 'us',
 'uH',
 ' uF',
 '[mi_i]/min',
 '[mi_i]',
 'mg/mg{Cre}',
 'mg/m3',
 'mg/m2',
 'mg/h',
 'mg/g{Cre}',
 'mg/{Volume}',
 'mg/{TotalVolume}',
 'mg/(kg.h)',
 'mg/(8.h.kg)',
 'mg/(8.h)',
 'mg{Phenylketones}/dL',
 'mg{CO2}',
 'meq/h',
 'meq/g{Cre}',
 'meq/{Specimen}',
 'meq/(kg.h)',
 'meq/(8.h.kg)',
 'meq/(8.h)',
 'meq/m2',
 'meq/dL',
 'meq/L',
 'Mbit/s',
 'Ms',
 'm2',
 'mU/mg{Cre}',
 'mU/g{Hgb}',
 'mosm/kg',
 'mosm/L',
 'mL/h',
 'mL/{h`b}',
 'mL/cm[H2O]',
 'mL/(kg.h)',
 'mL/{hb}',
 'mL/(8.h.kg)',
 'mL/(8.h)',
 'mL/{hb}.m2',
 'm[iU]/L',
 'ms/s',
 ' [ly]',
 'lx',
 '[lb_av]/m3',
 '[lb_av]',
 '[lbf_av]',
 '[lb_av]/min',
 'kg/h',
 'kg/m2',
 'kg/m3',
 'kg{body_wt}',
 'kcal/g',
 'kcal/(g.Cel)',
 'kbit/s ',
 'k[iU]/mL',
 'kcal/[oz_av]',
 'K/W',
 '[iU]/min',
 '[iU]/mL',
 '[iU]/kg',
 '[iU]/h',
 '[iU]/d',
 '[iU]/L',
 '[iU]',
 '{ions}',
 '[in_i]',
 "[in_i'Hg]",
 '[cin_i]',
 '[sin_i]',
 "[in_i'H2O]",
 '[cin_i]/min',
 'h',
 '[HP]{metric}',
 '[HP]{electric}',
 '[HP]{water}',
 'gon',
 '[gr]',
 '[gal_us]/min',
 '[gal_us]',
 '[API]',
 'g/m2',
 'g/h',
 'g/g{Cre}',
 'g/{TotalWeight}',
 'g/(100.g)',
 'g/(kg.h)',
 'g/(8.kg.h)',
 'g/(8.h)',
 'g.m/{hb}',
 'g.m/m2{hb}',
 'g{wet_tis}',
 'g{tot_prot}',
 'g{tit_nit}',
 'g{hgb}',
 'g{creat}',
 '[fur_us]',
 '[sft_i]',
 '[cft_i]',
 '[ft_i]',
 '{frames}/s',
 'fmol/g',
 '[foz_us]',
 '[fdr_us]',
 '{field}',
 'n{female}',
 '[fth_i]',
 '[emu]',
 '{electron}',
 'eq/L',
 '[pwt_tr]',
 '[qt_us]{dry}',
 '[pt_us]{dry}',
 '[gal_us]{dry}',
 '%{drymass}',
 '[dr_av]',
 '[dpm]',
 '[degR]',
 '[degF]',
 'dB[SPL]',
 'd',
 '[cup_us]',
 'n{photon}',
 'm{crmcd}',
 '[cps]',
 '[cpm]',
 '{code}',
 '[cml_i]',
 'cm[H2O]/(s.m)',
 'cm[H2O].s/L',
 'cm[H2O]',
 'cm2',
 '[ch_us]',
 '{cfu}/mL',
 '{Cells}/uL',
 'mL/dL',
 '[bu_us]',
 '[Btu]',
 '{breaths}/min',
 'bit/s',
 '{beat}/min',
 '[bp]',
 '[bbl_us]',
 '{b2k}',
 'n{atoms}',
 '{atmosphere}',
 'm{armcd}',
 "''",
 "'",
 'm{amcd}',
 'm{ambsf}',
 '[acr_us]',
 '%{vol}',
 'U/g{Hgb}',
 'U/g{Cre}',
 '[ston_av]',
 '{Spermatozoa}/mL',
 '%{Relative}',
 '{rbc}/uL',
 '[car_m]',
 '{MT}',
 '10*6/uL',
 'L/h',
 'L/(8.h)',
 'L.s2/s',
 'kPa',
 'kHz',
 '10*3/uL',
 'U{IgMPhospholipid}/mL',
 'U{IgGPhospholipid}/mL',
 'U{IgAPhospholipid}/mL',
 '[iU]/g{Hgb}',
 '[iU]/g',
 '[iU]/dL',
 '[HP]',
 '{hydrocarbon}',
 '{H2O}',
 'g.m/({hb}.m2)',
 'g.m',
 'Gb',
 '[Ch]',
 '{FTU}',
 '{FMS}',
 '{Elisa_U}/mL',
 '{Ehrlich_U}/dL',
 '[EU]/(100.g)',
 '[ETU]',
 '[DU]',
 '{Copies}/mL',
 '{chlorophyll_a}',
 '{CLP}',
 'cal',
 'U{ComplementCh50}/mL',
 '[CFU]',
 'By',
 '[bf_i]',
 '{beats}/min',
 '{BP}',
 'eq{BoneCollagen}/umol{Cre}',
 'eq{BoneCollagen}/mmol{Cre}',
 '[AU]',
 'eq{AHG}/mL',
 '{AD}',
 '10*9/uL',
 '10*9/mL',
 '10*9/L',
 '10*6/mL',
 '10*6/L',
 '10*6.eq/mL',
 '10*6.[iU]',
 '10*3/mL',
 '10*3/L',
 '10*3{Copies}/mL',
 '10*12/L',
 'dyn.s/cm5',
 'dyn.s/(cm5.m2)',
 '10.L/(min.m2)',
 '10*3{rbc}',
 "[todd'U]",
 '[ppth]',
 '[ppb]',
 'pH',
 '{od}',
 "[mclg'U]",
 "[knk'U]",
 'kcal/h',
 'kcal/d',
 'kcal/(8.h)',
 'kcal',
 "[ka'U]",
 '{eq}',
 '[drp]',
 '{cfu}',
 '{bsa}',
 "[bdsk'U]",
 'm2.K/W',
 '%/100{WBC}',
 '%{Total}',
 '%{OfWBCs}',
 '%{Uptake}',
 '%{TotalProtein}',
 '%{SpermMotility}',
 '%{Positive}',
 '%{Oxygen}',
 '%{NormalPooledPlasma}',
 '%{Normal}',
 '%{OfLymphocytes}',
 '%{Inhibition}',
 '%{HemoglobinSaturation}',
 '%{HemoglobinA1C}',
 '%{Hemoglobin}',
 '%{Hemolysis}',
 '%{FetalErythrocytes}',
 '%{Excretion}',
 '%{EosSeen}',
 '%{Carboxyhemoglobin}',
 '%{Bound}',
 '%{Blockade}',
 '%{Binding}',
 '%{BasalActivity}',
 '%{ofBacteria}',
 '%{Activity}',
 '%{Abnormal}',
 '%{0to3Hours}',
 'n']

In [30]:
for u in ucumlist:
    q = UCUM_SERVICE_VALIDATE+ urllib.parse.quote(u) 
    resp = requests.get(q)
    data = resp.json()
    if (resp.status_code != requests.codes.ok):
        print(u)