In [34]:
import csv
import pandas as pd
import re
import numpy as np
import urllib.parse
import requests

In [35]:
dfori = pd.read_csv('data/pangaea_mappings_ori_old.csv', names =['unit','ucum'],delimiter=",",encoding='utf-8')
dfori.head(10)

    unit                 ucum
0      Å                   Ao
1  µg-at          n{molecule}
2      µ                    u
3      ±  {StandardDeviation}
4     °C                  Cel
5      °                  deg
6  years                    a
7   year                    a
8    yd3              [cyd_i]
9    yd2              [syd_i]

In [36]:
dfori.shape

(174, 2)

In [37]:
dfext = pd.read_csv('data/concepts.tsv', sep='\t', header=0,encoding='utf-8')
dfext = dfext[['Synonym','Code']]
dfext.head(1)

  Synonym Code
0       %    %

In [38]:
dfext2 = pd.read_excel('data/IsoToUcum.xlsx',encoding='utf-8')
dfext2.head(1)

      ISO+     UCUM
0  (arb_u)  [arb'U]

In [39]:
df_ext_all = pd.concat([dfext,dfext2.rename(columns={'ISO+':'Synonym', 'UCUM':'Code'})], ignore_index=True)
df_ext_all.head()

            Synonym     Code
0                 %        %
1               /uL      /uL
2              IU/L   [iU]/L
3  K/uL, x10^3/mm^3  10*3/uL
4  M/uL, x10^6/mm^3  10*6/uL

In [40]:
dfext.shape, dfext2.shape, df_ext_all.shape

((343, 2), (96, 2), (439, 2))

In [41]:
dfe = df_ext_all.drop_duplicates().reset_index(drop=True)
dfe.shape

(419, 2)

In [43]:
#pd.concat(g for _, g in dfe.groupby("Synonym") if len(g) > 1)

In [44]:
dfe.head(1)

  Synonym Code
0       %    %

In [45]:
dfe[dfe.Synonym =='sec']

    Synonym Code
158     sec    s

In [46]:
x = pd.MultiIndex.from_arrays([dfori['unit'], dfori['ucum']])
y = pd.MultiIndex.from_arrays([dfe['Synonym'], dfe['Code']])
inter = x.difference(y)
dfori = dfori.set_index(['unit', 'ucum']).loc[inter].reset_index()
dfori.columns = ['unit', 'ucum']
dfori.head()

         unit    ucum
0           #       n
1     (K2)m/W  m2.K/W
2  (\\(eq\\))    {eq}
3        (eq)    {eq}
4          AD    {AD}

In [47]:
dfori.shape

(174, 2)

In [48]:
dfori.to_csv('data/pangaea_mappings_original.csv', index=False,encoding='utf-8')