In [131]:
import csv
import pandas as pd
import re
import numpy as np
import urllib.parse
import requests

In [132]:
#validate formatted units through ucum service
HOST = 'http://localhost:8080'
UCUM_SERVICE_VALIDATE =HOST+'/pucum/v1/api/validate/'

In [133]:
df = pd.read_excel('QuantityDimUnit.xlsx', headers=0, delimiter=",",converters={'Dimension':str,'Unit':str})
#df['Quantity']= df['Quantity'].astype(str)
#df['Dimension']= df['Dimension'].astype(str)
#df['UnitName']= df['UnitName'].astype(str)
#df['Unit']= df['Unit'].astype(str)

In [134]:
df.head(10)

              Quantity  Dimension            UnitName  Unit
0    Absolute Humidity        NaN                 NaN   NaN
1        Absorbed Dose        NaN                Gray    Gy
2        Absorbed Dose        NaN                 Rad   rad
3   Absorbed Dose Rate  L^2 T^-3      Gray per Second  Gy/s
4         Acceleration        NaN                 NaN   NaN
5               Action        NaN                 NaN   NaN
6             Activity        NaN           Becquerel    Bq
7             Activity        NaN               Curie    Ci
8  Amount of Substance         N                 Mole   mol
9  Amount of Substance         N   International Unit    IU

In [135]:
df[df.Unit =='ft-lbf/ft^2']

            Quantity Dimension                    UnitName         Unit
932  Energy per Area   M T^-2   Foot Pound per Square Foot  ft-lbf/ft^2
937  Energy per Area   M T^-2   Foot Pound per Square Foot  ft-lbf/ft^2
942  Energy per Area   M T^-2   Foot Pound per Square Foot  ft-lbf/ft^2

In [136]:
df.dtypes, df.shape

(Quantity     object
 Dimension    object
 UnitName     object
 Unit         object
 dtype: object, (2401, 4))

In [137]:
#df.dropna(subset=['Dimension'], inplace=True)
# remove duplicate rows
df = df.drop_duplicates().reset_index(drop=True)
df.head(10)

              Quantity  Dimension            UnitName  Unit
0    Absolute Humidity        NaN                 NaN   NaN
1        Absorbed Dose        NaN                Gray    Gy
2        Absorbed Dose        NaN                 Rad   rad
3   Absorbed Dose Rate  L^2 T^-3      Gray per Second  Gy/s
4         Acceleration        NaN                 NaN   NaN
5               Action        NaN                 NaN   NaN
6             Activity        NaN           Becquerel    Bq
7             Activity        NaN               Curie    Ci
8  Amount of Substance         N                 Mole   mol
9  Amount of Substance         N   International Unit    IU

In [138]:
df.shape

(1090, 4)

In [139]:
s ='C^3 m^3 J^-2'
s= s.replace('^','')
s= s.replace(' ','.')
print(s)

C3.m3.J-2

In [140]:
def pattern_match(m):
    m = m.group(0).replace('-', '.')
    return m

In [141]:
#reformat units, dimensions
pattern  = re.compile(r'-[A-z]+') #ft^2-s-degF -> ft2.s.degF

def replaceUnits(u):
    if pd.isnull(u):
        return u
    else:
        u= u.replace('^','')
        u1 = pattern.sub(pattern_match, u)
        u2 = re.sub(r'\b(\s)\b', '.', u1)# L^2 M T^-1 -> L2.M.T-1 #\w is equal to [A-Za-z0-9_]
        u2 = u2.replace(" ", "")
        #replace last dot
        u2 = u2.rstrip('.')
        return u2
#t ='cm^2-m' , 'ft^2-s-degF', 'lbf / s', 'L^2 M T^-1 '
replaceUnits('ft-lbf/ft^2')

'ft.lbf/ft2'

In [142]:
#df['Dimension'] = df['Dimension'].apply(replaceUnits )
#df['UnitFormatted'] = df['Unit'].apply(replaceUnits )

In [143]:
invalid_units=[]

In [145]:
df['DimensionFormatted'] = df['Dimension']
df["UnitFormatted"] = np.nan
df.head()

,Quantity,Dimension,UnitName,Unit,DimensionFormatted,UnitFormatted
0,Absolute Humidity,NaN,NaN,NaN,NaN,NaN
1,Absorbed Dose,NaN,Gray,Gy,NaN,NaN
2,Absorbed Dose,NaN,Rad,rad,NaN,NaN
3,Absorbed Dose Rate,L^2 T^-3,Gray per Second,Gy/s,L^2 T^-3,NaN
4,Acceleration,NaN,NaN,NaN,NaN,NaN

In [146]:
def validateUnit(uom):
    q = UCUM_SERVICE_VALIDATE+ urllib.parse.quote(uom) 
    resp = requests.get(q)
    data = resp.json()
    if (resp.status_code == requests.codes.ok):
        return data['ucum']
    else:
        invalid_units.append(u)
        return None

In [147]:
for index, row in df.iterrows():
    if pd.notnull(row['Unit']):
        uom = row['Unit']
        ucum = validateUnit(uom)
        if ucum:
            #df.UnitFormatted.iloc[index] = ucum
            df.loc[index,'UnitFormatted'] = ucum
        else:
            formattedUnit = replaceUnits(uom)
            ucum_fmt = validateUnit(formattedUnit)
            if ucum_fmt:
                df.loc[index,'UnitFormatted'] = ucum_fmt

In [148]:
#units_list = df['UnitFormatted'].unique()
#cleanedList = [x for x in units_list if str(x) != 'nan']
#len(units_list), len(cleanedList)

In [149]:
invalid_units= list(set(invalid_units))
len(set(invalid_units)), invalid_units

(1, ['m3/K'])

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 6 columns):
Quantity              1090 non-null object
Dimension             717 non-null object
UnitName              1023 non-null object
Unit                  795 non-null object
DimensionFormatted    717 non-null object
UnitFormatted         617 non-null object
dtypes: object(6)
memory usage: 51.2+ KB

In [151]:
df[df.Unit =='tbsp']

     Quantity Dimension    UnitName  Unit DimensionFormatted UnitFormatted
1066   Volume      L^3   Tablespoon  tbsp               L^3       [tbs_us]

In [152]:
#Replace dimensions
df['DimensionFormatted'] = df['DimensionFormatted'].str.replace('Θ','Q')
df['DimensionFormatted'] = df['DimensionFormatted'].apply(replaceUnits )
df.head(2400)

,Quantity,Dimension,UnitName,Unit,DimensionFormatted,UnitFormatted
0,Absolute Humidity,NaN,NaN,NaN,NaN,NaN
1,Absorbed Dose,NaN,Gray,Gy,NaN,Gy
2,Absorbed Dose,NaN,Rad,rad,NaN,rad
3,Absorbed Dose Rate,L^2 T^-3,Gray per Second,Gy/s,L2.T-3,Gy/s
4,Acceleration,NaN,NaN,NaN,NaN,NaN
5,Action,NaN,NaN,NaN,NaN,NaN
6,Activity,NaN,Becquerel,Bq,NaN,Bq
7,Activity,NaN,Curie,Ci,NaN,Ci
8,Amount of Substance,N,Mole,mol,N,mol
9,Amount of Substance,N,International Unit,IU,N,[IU]
10,Amount of substance per unit mass,M^-1 N,Mole per Kilogram,mol/kg,M-1.N,mol/kg
11,Amount of Substance Per Unit Volume,L^-3 N,Mole per Cubic Meter,mol/m^3,L-3.N,mol/m3
12,Angle,NaN,Radian,rad,NaN,rad
13,Angle,NaN,Arc Second,arcSec,NaN,''
14,Angle,NaN,Arc Minute,arcMin,NaN,'
15,Angle,NaN,Degree Angle,°,NaN,deg
16,Angle,NaN,Second Angle,\t,NaN,NaN
17,Angle,NaN,Minute Angle,',NaN,'
18,Angular Acceleration,U T^-2,Radian per Second Squared,rad/s^2,U.T-2,rad/s2
19,Angular Acceleration,U T^-2,Degree per Second Squared,deg/(s^2),U.T-2,deg/(s2)
20,Angular Acceleration,U T^-2,Revolution per Second Squared,NaN,U.T-2,NaN
21,Angular Frequency,NaN,NaN,NaN,NaN,NaN
22,Angular Momentum,L^2 M T^-1,Joule Second,J s,L2.M.T-1,J.s
23,Angular Momentum,L^2 M T^-1,Erg Second,erg s,L2.M.T-1,erg.s
24,Angular Momentum,L^2 M T^-1,Electron Volt Second,eV s,L2.M.T-1,eV.s
25,Angular Momentum,L^2 M T^-1,Foot Pound Force Second,lbf / s,L2.M.T-1,[lbf_av]/s
26,Angular Velocity,U T^-1,Radian per Second,rad/s,U.T-1,rad/s
27,Angular Velocity,U T^-1,Radian per second,rad/m,U.T-1,rad/m
28,Angular Velocity,U T^-1,Degree per Second,deg/s,U.T-1,deg/s
29,Angular Velocity,U T^-1,Revolution per Hour,rev/h,U.T-1,NaN
...,...,...,...,...,...,...
1060,Volume,L^3,US Liquid Pint,pt,L3,pt
1061,Volume,L^3,Board Foot,Bf,L3,[bf_i]
1062,Volume,L^3,Imperial Ounce,oz,L3,[oz_av]
1063,Volume,L^3,US Liquid Cup,cup,L3,[cup_us]
1064,Volume,L^3,US Gallon,gal,L3,[gal_us]
1065,Volume,L^3,Bushel,bu,L3,[bu_us]
1066,Volume,L^3,Tablespoon,tbsp,L3,[tbs_us]
1067,Volume,L^3,US Liquid Quart,qt,L3,[qt_us]
1068,Volume,L^3,Cubic Meter,m^3,L3,m3
1069,Volume,L^3,Barrel,bbl,L3,[bbl_us]
1070,Volume,L^3,US Peck,pk,L3,[pk_us]
1071,Volume,L^3,Cubic Centimeter,cm^3,L3,cm3
1072,Volume,L^3,US Dry Pint,dry_pt,L3,[pt_us]{dry}
1073,Volume,L^3,Liter,L,L3,L
1074,Volume,L^3,Imperial Pint,pi,L3,[pt_br]
1075,Volume,L^3,Cord,C,L3,C
1076,Volume,L^3,US Dry Quart,dry_qt,L3,[qt_us]{dry}
1077,Volume,L^3,Cubic Millimeter,m^3,L3,m3
1078,Volume per Unit Time,L^3 T^-1,Cubic Foot per Minute,ft^3/min,L3.T-1,ft3/min
1079,Volume per Unit Time,L^3 T^-1,Cubic Yard per Minute,yd^3/min,L3.T-1,[cyd_i]/min
1080,Volume per Unit Time,L^3 T^-1,US Gallon per Minute,gal/min,L3.T-1,[gal_us]/min
1081,Volume per Unit Time,L^3 T^-1,Cubic Inch per Minute,in^3/min,L3.T-1,[cin_i]/min
1082,Volume per Unit Time,L^3 T^-1,Cubic Meter per Hour,m^3/h,L3.T-1,m3/h
1083,Volume per Unit Time,L^3 T^-1,Cubic Foot per Second,ft^3/s,L3.T-1,ft3/s
1084,Volume per Unit Time,L^3 T^-1,Cubic Meter per Second,m^3/s,L3.T-1,m3/s
1085,Volume per Unit Time,L^3 T^-1,US Gallon per Day,gal/d,L3.T-1,[gal_us]/d
1086,Volume Thermal Expansion,L^3 Θ^-1,Cubic Meter per Kelvin,m^3/K,L3.Q-1,m3/K
1087,Volumetric Heat Capacity,L^-1 M T^-2 Θ^-1,Joule per Cubic Meter Kelvin,J/(m^3 K),L-1.M.T-2.Q-1,J/(m3.K)
1088,Vorticity,NaN,NaN,NaN,NaN,NaN
1089,Weight,NaN,NaN,NaN,NaN,NaN

In [ ]:
#dfqudt = df.groupby( [ "Quantity", "Dimension"] )
#dfqudt.head()#
dfqudt = df.groupby('Dimension')['Quantity'].apply(list)
dfqudt.head()

In [ ]:
#df.to_csv('qudt_import.csv', sep='\t', encoding='utf-8',index=False)